**/__Previews
**/__Previews/**
**/*.SchDocPreview
**/*.PcbDocPreview

*/History
*/History/
*/History/*
*/History/**

**/History
**/History/
**/History/*
**/History/**

*.DbLib
*.log

History/*
History/**

~$*
~$**
*~$*
*~$**
**~$**
*/~$*
*/~$**
**/~$*
**/~$**
